@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to left bottom,
    #ffe9f0,
    #fdedf5,
    #fcf2fa,
    #fbf6fc,
    #fcfafe,
    #fbf9fe,
    #f9f8ff,
    #f7f7ff,
    #f0f1ff,
    #e8ebff,
    #dfe5ff,
    #d5e0ff
  );
}

::-webkit-scrollbar {
  display: none;
}

.glass {
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(13.4px);
  -webkit-backdrop-filter: blur(13.4px);
  border: 1px solid rgba(171, 171, 171, 0.22);
}
